<nav id="navbar">
    <img src="image/op.png" alt="">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Service</a></li>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>